In [1]:

## 데이터 새로만드는거 없다 데이터다 만들어져있는거 불러오는 형태
## 불러올떄 넘파이로 만드는거연습시간

In [38]:
import numpy as np
import seaborn as sns ## seaborn 에서 판다스를 불러왓엇음

In [5]:
tips = sns.load_dataset("tips")

In [7]:
type(tips)  ## 판다스의 기본적인 자료형태 DataFrame 판다스 넘파이기반
            ## 스트럭쳐드 어레이를 이용해 만듬 -> 키값접근 가능 빠르다 씨벌!
            ## 넘파이에서는 안됬는데 판다스는 스트럭쳐드 어레이 . 접근 가능하다

pandas.core.frame.DataFrame

In [8]:
tips["day"]

0       Sun
1       Sun
2       Sun
3       Sun
4       Sun
5       Sun
6       Sun
7       Sun
8       Sun
9       Sun
10      Sun
11      Sun
12      Sun
13      Sun
14      Sun
15      Sun
16      Sun
17      Sun
18      Sun
19      Sat
20      Sat
21      Sat
22      Sat
23      Sat
24      Sat
25      Sat
26      Sat
27      Sat
28      Sat
29      Sat
       ...
214     Sat
215     Sat
216     Sat
217     Sat
218     Sat
219     Sat
220     Fri
221     Fri
222     Fri
223     Fri
224     Fri
225     Fri
226     Fri
227     Sat
228     Sat
229     Sat
230     Sat
231     Sat
232     Sat
233     Sat
234     Sat
235     Sat
236     Sat
237     Sat
238     Sat
239     Sat
240     Sat
241     Sat
242     Sat
243    Thur
Name: day, Length: 244, dtype: category
Categories (4, object): [Thur, Fri, Sat, Sun]

In [9]:
tips.smoker

0       No
1       No
2       No
3       No
4       No
5       No
6       No
7       No
8       No
9       No
10      No
11      No
12      No
13      No
14      No
15      No
16      No
17      No
18      No
19      No
20      No
21      No
22      No
23      No
24      No
25      No
26      No
27      No
28      No
29      No
      ...
214    Yes
215    Yes
216    Yes
217    Yes
218    Yes
219    Yes
220    Yes
221    Yes
222    Yes
223     No
224    Yes
225    Yes
226    Yes
227     No
228     No
229    Yes
230    Yes
231    Yes
232     No
233     No
234    Yes
235     No
236    Yes
237    Yes
238     No
239     No
240    Yes
241    Yes
242     No
243     No
Name: smoker, Length: 244, dtype: category
Categories (2, object): [Yes, No]

In [12]:
tips.size   ### 진짜 size 메소드를 불른다 넘파이에 있는 ㄹㅇ 메소드
            ## 넘파이 기반이기 떄문에 =>  키방식으로 부르면 문제 해결!
            ## 어트리뷰트는 ㄹㅇ메소드를 부를수도, 컬럼에 공백,특수문자이 있으면 안된다(편해서 이거만듬) => 키방식으로 부름댐!

1708

In [13]:
tips["size"]

0      2
1      3
2      3
3      2
4      4
5      4
6      2
7      4
8      2
9      2
10     2
11     4
12     2
13     4
14     2
15     2
16     3
17     3
18     3
19     3
20     2
21     2
22     2
23     4
24     2
25     4
26     2
27     2
28     2
29     2
      ..
214    3
215    2
216    5
217    2
218    2
219    4
220    2
221    2
222    1
223    3
224    2
225    2
226    2
227    4
228    2
229    2
230    4
231    3
232    2
233    2
234    2
235    2
236    2
237    2
238    3
239    3
240    2
241    2
242    2
243    2
Name: size, Length: 244, dtype: int64

In [14]:
tips[0]

KeyError: 0

In [49]:
x = np.array([('3', 9, 81.0), ('2', 3, 27.0)],
...              dtype=[('1', 'f4'), ('age', 'i4'), ('weight', 'f4')])  ## 넘파이에서는
                                                                    #이름에 무조건 문자형이 들어가야한다 ''에 무조건 문자형 re!!

In [42]:
x

array([('Rex', 9, 81.), ('Fido', 3, 27.)],
      dtype=[('1', '<U10'), ('age', '<i4'), ('weight', '<f4')])

In [18]:
## 판다스는 컬럼 이름을 숫자로("1","2" 이런게 아니라 1,2,3,4 이런식으로) 만들수 있게 해준다. => 즉 인덱스 방식이 안된다 re!! 넘파이에서는 됬는데 tips[0]  이러면 인덱스랑 컬럼이랑 겹친다
##

In [20]:
tips.loc[0]  # 이렇게 해야 행 뽑아올수 있다.

total_bill     16.99
tip             1.01
sex           Female
smoker            No
day              Sun
time          Dinner
size               2
Name: 0, dtype: object

In [ ]:
## structured array 들끼리 연산되고 스택 배운거 로 행 추가, 슬라이싱, split 쪼갤수 있고 쉐이프 맘대로 주무를수 있따.=> 데이터 부석 기초, 데이터 정형화
## 정형테이블부터 분석 시작(우리가 분석할거 스트럭쳐드어레이기반)

In [53]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [24]:
## 판다스 직사각형 표형태의 데이터 타입 => 데이터 저장 사용 효율적으로 할수 있다.
## 데이터 분석 2차원 표형태가 가장 효율정 따라서 모든 데이터 형태가 2차원 직사각형 표형태 
## 분석알고리즘도 2차원 테이블
## 컬럼을 헤더라고도 한다. 
## 네모표를 데이터 프레임, 맨 왼쪽 세로줄 인덱스, 위에 컬럼줄 헤더, 컬럼

In [25]:
tips.tip

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
5      4.71
6      2.00
7      3.12
8      1.96
9      3.23
10     1.71
11     5.00
12     1.57
13     3.00
14     3.02
15     3.92
16     1.67
17     3.71
18     3.50
19     3.35
20     4.08
21     2.75
22     2.23
23     7.58
24     3.18
25     2.34
26     2.00
27     2.00
28     4.30
29     3.00
       ...
214    6.50
215    1.10
216    3.00
217    1.50
218    1.44
219    3.09
220    2.20
221    3.48
222    1.92
223    3.00
224    1.58
225    2.50
226    2.00
227    3.00
228    2.72
229    2.88
230    2.00
231    3.00
232    3.39
233    1.47
234    3.00
235    1.25
236    1.00
237    1.17
238    4.67
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [26]:
## 팬시 인덱싱 된다. 동시에 2개 뽑을수있따.

In [32]:
tips[['day', 'time']] ## 넘파이에서 배웠던 펜시인덱싱 된다.   ## 왼쪽 01234는 인덱스 오른쪽 day time 은 넘파이로 되어있따

      day    time
0     Sun  Dinner
1     Sun  Dinner
2     Sun  Dinner
3     Sun  Dinner
4     Sun  Dinner
5     Sun  Dinner
6     Sun  Dinner
7     Sun  Dinner
8     Sun  Dinner
9     Sun  Dinner
10    Sun  Dinner
11    Sun  Dinner
12    Sun  Dinner
13    Sun  Dinner
14    Sun  Dinner
15    Sun  Dinner
16    Sun  Dinner
17    Sun  Dinner
18    Sun  Dinner
19    Sat  Dinner
20    Sat  Dinner
21    Sat  Dinner
22    Sat  Dinner
23    Sat  Dinner
24    Sat  Dinner
25    Sat  Dinner
26    Sat  Dinner
27    Sat  Dinner
28    Sat  Dinner
29    Sat  Dinner
..    ...     ...
214   Sat  Dinner
215   Sat  Dinner
216   Sat  Dinner
217   Sat  Dinner
218   Sat  Dinner
219   Sat  Dinner
220   Fri   Lunch
221   Fri   Lunch
222   Fri   Lunch
223   Fri   Lunch
224   Fri   Lunch
225   Fri   Lunch
226   Fri   Lunch
227   Sat  Dinner
228   Sat  Dinner
229   Sat  Dinner
230   Sat  Dinner
231   Sat  Dinner
232   Sat  Dinner
233   Sat  Dinner
234   Sat  Dinner
235   Sat  Dinner
236   Sat  Dinner
237   Sat  Dinner
238   Sat  Dinner
239   Sat  Dinner
240   Sat  Dinner
241   Sat  Dinner
242   Sat  Dinner
243  Thur  Dinner

[244 rows x 2 columns]

In [29]:
type(tips.day) ## 타입이 series ## 맨왼쪾 인덱스 맨끝에 데이터
                ## 넘파이 기반

pandas.core.series.Series

In [30]:
tips.day.values #

[Sun, Sun, Sun, Sun, Sun, ..., Sat, Sat, Sat, Sat, Thur]
Length: 244
Categories (4, object): [Thur, Fri, Sat, Sun]

In [31]:
tips.tip.values # 데이터가 넘파이로 되있다.

array([ 1.01,  1.66,  3.5 ,  3.31,  3.61,  4.71,  2.  ,  3.12,  1.96,
        3.23,  1.71,  5.  ,  1.57,  3.  ,  3.02,  3.92,  1.67,  3.71,
        3.5 ,  3.35,  4.08,  2.75,  2.23,  7.58,  3.18,  2.34,  2.  ,
        2.  ,  4.3 ,  3.  ,  1.45,  2.5 ,  3.  ,  2.45,  3.27,  3.6 ,
        2.  ,  3.07,  2.31,  5.  ,  2.24,  2.54,  3.06,  1.32,  5.6 ,
        3.  ,  5.  ,  6.  ,  2.05,  3.  ,  2.5 ,  2.6 ,  5.2 ,  1.56,
        4.34,  3.51,  3.  ,  1.5 ,  1.76,  6.73,  3.21,  2.  ,  1.98,
        3.76,  2.64,  3.15,  2.47,  1.  ,  2.01,  2.09,  1.97,  3.  ,
        3.14,  5.  ,  2.2 ,  1.25,  3.08,  4.  ,  3.  ,  2.71,  3.  ,
        3.4 ,  1.83,  5.  ,  2.03,  5.17,  2.  ,  4.  ,  5.85,  3.  ,
        3.  ,  3.5 ,  1.  ,  4.3 ,  3.25,  4.73,  4.  ,  1.5 ,  3.  ,
        1.5 ,  2.5 ,  3.  ,  2.5 ,  3.48,  4.08,  1.64,  4.06,  4.29,
        3.76,  4.  ,  3.  ,  1.  ,  4.  ,  2.55,  4.  ,  3.5 ,  5.07,
        1.5 ,  1.8 ,  2.92,  2.31,  1.68,  2.5 ,  2.  ,  2.52,  4.2 ,
        1.48,  2.  ,  2.  ,  2.18,  1.5 ,  2.83,  1.5 ,  2.  ,  3.25,
        1.25,  2.  ,  2.  ,  2.  ,  2.75,  3.5 ,  6.7 ,  5.  ,  5.  ,
        2.3 ,  1.5 ,  1.36,  1.63,  1.73,  2.  ,  2.5 ,  2.  ,  2.74,
        2.  ,  2.  ,  5.14,  5.  ,  3.75,  2.61,  2.  ,  3.5 ,  2.5 ,
        2.  ,  2.  ,  3.  ,  3.48,  2.24,  4.5 ,  1.61,  2.  , 10.  ,
        3.16,  5.15,  3.18,  4.  ,  3.11,  2.  ,  2.  ,  4.  ,  3.55,
        3.68,  5.65,  3.5 ,  6.5 ,  3.  ,  5.  ,  3.5 ,  2.  ,  3.5 ,
        4.  ,  1.5 ,  4.19,  2.56,  2.02,  4.  ,  1.44,  2.  ,  5.  ,
        2.  ,  2.  ,  4.  ,  2.01,  2.  ,  2.5 ,  4.  ,  3.23,  3.41,
        3.  ,  2.03,  2.23,  2.  ,  5.16,  9.  ,  2.5 ,  6.5 ,  1.1 ,
        3.  ,  1.5 ,  1.44,  3.09,  2.2 ,  3.48,  1.92,  3.  ,  1.58,
        2.5 ,  2.  ,  3.  ,  2.72,  2.88,  2.  ,  3.  ,  3.39,  1.47,
        3.  ,  1.25,  1.  ,  1.17,  4.67,  5.92,  2.  ,  2.  ,  1.75,
        3.  ])

In [34]:
tips.tip+5 ## 넘파이기법 브로드캐스팅 모양 안맞춰도 자동으로 맞춰주는거 다 된다.

0       6.01
1       6.66
2       8.50
3       8.31
4       8.61
5       9.71
6       7.00
7       8.12
8       6.96
9       8.23
10      6.71
11     10.00
12      6.57
13      8.00
14      8.02
15      8.92
16      6.67
17      8.71
18      8.50
19      8.35
20      9.08
21      7.75
22      7.23
23     12.58
24      8.18
25      7.34
26      7.00
27      7.00
28      9.30
29      8.00
       ...
214    11.50
215     6.10
216     8.00
217     6.50
218     6.44
219     8.09
220     7.20
221     8.48
222     6.92
223     8.00
224     6.58
225     7.50
226     7.00
227     8.00
228     7.72
229     7.88
230     7.00
231     8.00
232     8.39
233     6.47
234     8.00
235     6.25
236     6.00
237     6.17
238     9.67
239    10.92
240     7.00
241     7.00
242     6.75
243     8.00
Name: tip, Length: 244, dtype: float64

In [36]:
tips.tip.sum() #리덕션 다 넘파이꺼 넘파이잘하면 판다스 쉬움

731.5799999999999

In [ ]:
# 인덱스, 컬럼(헤더), 한줄 시리즈(가로세로 튜플포함), 튜플도 시리즈, 넘파이 타입
## 넘파이 벡터는 방향이 없다. 가로도 한줄 세로 벡터도 한줄 => 다똑같음 seriees

In [50]:
## 넘파이 잘알면 알고리즘만 이해하면 됨
## 데이터사이언스 암기과목 x (adsp 암기과목)

In [51]:
## 판다스 컬럼 숫자로 넣을수 있음 행값 고를때 다른방식 추가함
## 인덱스가 문자로 되어있는 경우도 있음

In [54]:
tips.iloc[3] #숫자 기반 index location 0 1 2 3 4 5 파이썬 인덱싱 기법과 똑같고

total_bill     23.68
tip             3.31
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 3, dtype: object

In [55]:
tips.iloc[3:6]  ## 슬라이싱 된다.

   total_bill   tip     sex smoker  day    time  size
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4

In [56]:
tips.loc[3]

total_bill     23.68
tip             3.31
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 3, dtype: object

In [58]:
tips.loc[3:6]  # loc는  마지막꺼 포함이 된다. loc는 이름 기반으로 하는거 
                ## 판다스는 넘파이보다 추가
                ## 넘파이 인덱싱 콤마, ... :: masking 조건 펜시인덱싱

   total_bill   tip     sex smoker  day    time  size
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2

In [61]:
tips.loc[3:6,'day']

3    Sun
4    Sun
5    Sun
6    Sun
Name: day, dtype: category
Categories (4, object): [Thur, Fri, Sat, Sun]

In [62]:
tips.loc[3:6,['day','smoker']]

   day smoker
3  Sun     No
4  Sun     No
5  Sun     No
6  Sun     No

In [63]:
tips.loc[3:6,['smoker','tip']]

  smoker   tip
3     No  3.31
4     No  3.61
5     No  4.71
6     No  2.00

In [64]:
tips.iloc[3:6,:-2] ## 콤마 인덱싱 , 슬라이싱 지원한다

   total_bill   tip     sex smoker  day
3       23.68  3.31    Male     No  Sun
4       24.59  3.61  Female     No  Sun
5       25.29  4.71    Male     No  Sun

In [67]:
tips.iloc[3:6,::-1] ## 역수

SyntaxError: invalid syntax (<ipython-input-67-1d268e09807e>, line 1)

In [68]:
# 다 넘파이이기떄문에 댐
# ... 지원 x
tips.iloc[3:6,...] ## 역수

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [73]:
%time tips[['tip']]## [[ 펜시인덱싱]] 타입이  원래 값 한줄 가져올떄는 시리즈였는데 펜시인뎅싱 데이터프레임임 
            ## 팬시인덱싱 re!!

Wall time: 997 µs

      tip
0    1.01
1    1.66
2    3.50
3    3.31
4    3.61
5    4.71
6    2.00
7    3.12
8    1.96
9    3.23
10   1.71
11   5.00
12   1.57
13   3.00
14   3.02
15   3.92
16   1.67
17   3.71
18   3.50
19   3.35
20   4.08
21   2.75
22   2.23
23   7.58
24   3.18
25   2.34
26   2.00
27   2.00
28   4.30
29   3.00
..    ...
214  6.50
215  1.10
216  3.00
217  1.50
218  1.44
219  3.09
220  2.20
221  3.48
222  1.92
223  3.00
224  1.58
225  2.50
226  2.00
227  3.00
228  2.72
229  2.88
230  2.00
231  3.00
232  3.39
233  1.47
234  3.00
235  1.25
236  1.00
237  1.17
238  4.67
239  5.92
240  2.00
241  2.00
242  1.75
243  3.00

[244 rows x 1 columns]

In [74]:
%time tips['tip']

Wall time: 0 ns

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
5      4.71
6      2.00
7      3.12
8      1.96
9      3.23
10     1.71
11     5.00
12     1.57
13     3.00
14     3.02
15     3.92
16     1.67
17     3.71
18     3.50
19     3.35
20     4.08
21     2.75
22     2.23
23     7.58
24     3.18
25     2.34
26     2.00
27     2.00
28     4.30
29     3.00
       ...
214    6.50
215    1.10
216    3.00
217    1.50
218    1.44
219    3.09
220    2.20
221    3.48
222    1.92
223    3.00
224    1.58
225    2.50
226    2.00
227    3.00
228    2.72
229    2.88
230    2.00
231    3.00
232    3.39
233    1.47
234    3.00
235    1.25
236    1.00
237    1.17
238    4.67
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [75]:
%time tips.tip

Wall time: 0 ns

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
5      4.71
6      2.00
7      3.12
8      1.96
9      3.23
10     1.71
11     5.00
12     1.57
13     3.00
14     3.02
15     3.92
16     1.67
17     3.71
18     3.50
19     3.35
20     4.08
21     2.75
22     2.23
23     7.58
24     3.18
25     2.34
26     2.00
27     2.00
28     4.30
29     3.00
       ...
214    6.50
215    1.10
216    3.00
217    1.50
218    1.44
219    3.09
220    2.20
221    3.48
222    1.92
223    3.00
224    1.58
225    2.50
226    2.00
227    3.00
228    2.72
229    2.88
230    2.00
231    3.00
232    3.39
233    1.47
234    3.00
235    1.25
236    1.00
237    1.17
238    4.67
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [72]:
# 키방식
# 어트리뷰트방식
# 팬시 인덱싱 데이타 프레임으로 가져온다.

## 행가져올떄 iloc loc
## 넘파이에서 바로쓰는 키방식이 제일 빠르다 판다스 걸치는건 보다 조금 느리다.
## 키방식이 귀찮은거 뺴고는 다 좋음 ("") 이렇게 다써야되니

In [77]:
%time tips.iloc[3:6,::-1] ## 역수

Wall time: 1.99 ms

   size    time  day smoker     sex   tip  total_bill
3     2  Dinner  Sun     No    Male  3.31       23.68
4     4  Dinner  Sun     No  Female  3.61       24.59
5     4  Dinner  Sun     No    Male  4.71       25.29

In [78]:
%time tips.loc[3:6,::-1] ## 역수

Wall time: 2 ms

   size    time  day smoker     sex   tip  total_bill
3     2  Dinner  Sun     No    Male  3.31       23.68
4     4  Dinner  Sun     No  Female  3.61       24.59
5     4  Dinner  Sun     No    Male  4.71       25.29
6     2  Dinner  Sun     No    Male  2.00        8.77

In [ ]:
## 특정값 뽑는거 iloc,loc,iat,at 총 4개

In [79]:
tips.loc[3,'tip'] ## d이러면 한개만 가져오는거 넘파이

3.31

In [82]:
%time tips.iat[3,5] ## indexing 방식으로 하나 가져온다

Wall time: 0 ns

'Dinner'

In [83]:
%time tips.at[3,"time"] ## 이름으로 하나 가져온다.

Wall time: 0 ns

'Dinner'

In [ ]:
## index 방식이 더 앵간하면 빠르다 상황에 따라 서 골고루 쓰자

In [ ]:
## 넘파이 기반이어서 넘파이 사용했떤거 개념 그대로 쓸수 있다.

In [ ]:
## 넘파이 벡터기반 데이터 처리 라이브러리
## 넘파이 => 어레이기반 
## 판다스 넘파이 기반 
# 데이터 전처리 프로세싱, exploratory data analysis (EDA 어제 배웠던거 복습 / 미싱데이터 찾기)
# EDA 데이터 사이언스 중요 !!! 
# 하는애가 판다스 EDA 하는거 기초분석 도구
# 데이터 수집한거를 불러와서 판다스에서 기초분석하고 데이터 전처리 하는것 => 이런거를 데이터 먼징 , 랭글링하는 도구(데이터를 불러오고 합치고 전처리, 기초분석 => 먼징, ETL 개발자관점, // 랭글링 분석가 관점)
##

## 파이프라인 만들어서 계속 수집 => 분석 고급분석 =>시스템화하는게 과정

## 1.

In [ ]:
## 판다스 넘파이 기반